<!DOCTYPE html>
<html>
<head>
  <title>About</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f9f9f9;
      color: #333;
    }

    .container {
      max-width: 800px;
      margin: 0 auto;
      padding: 20px;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    h1 {
      font-size: 36px;
      margin-bottom: 20px;
      color: #333;
    }

    h3 {
      font-size: 24px;
      margin-bottom: 10px;
      color: #555;
    }

    p {
      font-size: 16px;
      line-height: 1.6;
      margin-bottom: 10px;
      color: #777;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>About Us</h1>
    <p><%= aboutContent %></p>
    <h3>He He He <%= userAbout %></h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod mauris mauris, eu blandit mi fringilla et. Nulla id ligula quis eros consectetur pretium. Integer ac purus in lectus bibendum finibus eget id dolor.</p>
    <p>Phasellus interdum neque vel sem vulputate, non luctus risus facilisis. Maecenas facilisis tincidunt lectus non lacinia. Nulla facilisi. Etiam ullamcorper, ligula sed auctor tempus, lorem sem placerat libero, eu ullamcorper sapien enim vitae lectus.</p>
    <p>Suspendisse non nunc finibus, malesuada metus ut, vulputate ex. Praesent cursus magna tortor, at feugiat risus dapibus non. Pellentesque condimentum semper neque eget facilisis. Curabitur sed faucibus velit. In hac habitasse platea dictumst.</p>
  </div>
</body>
</html>
