<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f9f9f9;
      color: #333;
    }

    .container {
      max-width: 960px;
      margin: 0 auto;
      padding: 20px;
    }

    h1 {
      font-size: 36px;
      margin-bottom: 20px;
    }

    h2 {
      font-size: 24px;
      margin-bottom: 10px;
    }

    p {
      margin-bottom: 20px;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>Blog</h1>

    <article>
        <h1>Hii <%= userBlog %> this is your Blogs </h1>
      <h2>Blog Post 1</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod mauris mauris, eu blandit mi fringilla et.</p>
    </article>

    <article>
      <h2>Blog Post 2</h2>
      <p>Phasellus interdum neque vel sem vulputate, non luctus risus facilisis. Maecenas facilisis tincidunt lectus non lacinia.</p>
    </article>
  </div>
</body>
</html>
