<!DOCTYPE html>
<html>
<head>
  <title>About</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f9f9f9;
      color: #333;
    }

    .container {
      max-width: 600px;
      margin: 0 auto;
      padding: 20px;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    h1 {
      font-size: 36px;
      margin-bottom: 20px;
    }

    h3 {
      font-size: 20px;
      margin-bottom: 10px;
    }

    form {
      margin-top: 20px;
    }

    input[type="text"] {
      width: 100%;
      padding: 10px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 5px;
      margin-bottom: 10px;
    }

    button[type="submit"] {
      padding: 10px 20px;
      font-size: 16px;
      background-color: #4CAF50;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    button[type="submit"]:hover {
      background-color: #45a049;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>Compose</h1>
    <h3>Hii <%= userCom %> here you can write your Blog and then Publish it...</h3>
    <form action="/compose" method="post">
        <!-- <input type="text" name="article" placeholder="Enter your Blog"> -->
        <input type="text" name="contentTitle" placeholder="your blog title">
          <textarea rows="4" cols="50" name="contentBody"></textarea>
        <p><button type="submit" name="submit">Publish</button></p>
    </form>
  </div>
</body>
</html>
