<!DOCTYPE html>
<html>
<head>
  <title>Minimalistic Blog</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/compose">Compose</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
    <h1>Welcome to the Minimalistic Blog</h1>
    <p>logged in as <%= ussrname %> </p>
  </header>

  <h1> <%= title %> </h1>
  <p> <%= content %> </p>

</body>
</html>